<!DOCTYPE html>
<html ng-app>
  <head>
    <title></title>
    <script src="angular.js"></script>
  </head>
  <body style="color: {{zeppelinColor}}">
    <!--
      Note that setting styles like this is not the right way to do things.
      I just want you to get the idea that this sort of thing is possible.
      Styles should be set using the ngStyle directive (more on this soon).
    -->

    <input ng-model="zeppelin" />
    <p title="{{zeppelin}}">The name is: {{zeppelin}}</p>

    <input type="number" ng-model="zeppelinDesignation" />
    <p>The designation is: {{zeppelinDesignation}}</p>

    <input type="email" ng-model="zeppelinEmail" />
    <p>The email is: {{zeppelinEmail}}</p>

    <input type="color" ng-model="zeppelinColor" />
    <p>The color is: {{zeppelinColor}}</p>

  </body>
</html>
